[profile.default]
src = "src"
out = "out"
libs = ["lib"]

remappings = [
    "forge-std/=lib/forge-std/src/",
    "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
    "@chainlink/contracts/=lib/chainlink-local/lib/chainlink-brownie-contracts/contracts/",
    "@uniswap/v2-periphery/=lib/v2-periphery/"
]


[rpc_endpoints]
sepolia = "https://ethereum-sepolia-rpc.publicnode.com"
